@font-face {
    font-family: 'Game of Thrones';
    src: url('../fonts/GameofThrones.eot');
    src: url('../fonts/GameofThrones.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GameofThrones.woff') format('woff'),
        url('../fonts/GameofThrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url(../images/Iron_throne.jpg);
    background-size:100vw 100vh;
    height:100vh !important;
    
    width:100vw;
    font-family: "Game of Thrones";

}

#titleContainer{
    background: url(../images/logo.png);
    background-size: 100vw 50vh;
    background-repeat: no-repeat;
    
    text-align: center;
    height:50vh;

    
}

h1{
    font-family: "Game of Thrones";
}

#start{
    width:100vw;
    height: 50vh;
    
    display: flex;
    align-content: center;
    justify-content: center;
    
    margin-right: 0px !important;
    margin-left: 0px !important;
}


#flexContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    height: 50vh;
    width:100vw;

}

#first_go_container{
    display:none;
    height: 50vh;
    width: 100vw;
}



.flex{
    width:100%;
    height: 100%;
    
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.c_button{
    margin: 20px;
    
    height: 40px;
    
    background-color: rgba(0,0,0,0.1);
    color: white;
    
    font-weight: bold;
    font-size:185%
}

.p_button{
    margin-bottom: 10px;
    
    height: 60px;
    width:60vw;
    
    background-color: rgba(0,0,0,0.4);
    color: white;
    
    font-weight: bold;
    font-size:150%
}

.shown{
    display: block !important;
}

.hidden{
    display:none;
}

#space{
    height: 90vh
}

#choice{
    height:10vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}